{form emailEditable}
    {control $form error}
	<h2> Vybraní uživatelé </h2>
	<p>
		{foreach $users as $userEmail}
		    {$userEmail->name} {$userEmail->surname}{sep}, {/sep}
		{/foreach}
	</p>

	<div class="pair">
        <div>{label subject /}</div>
        <div class="input">{input subject, style=> "width: 400px"}</div>
    </div>

	<div class="pair">
        <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>

        <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons",
            image_advtab: true
            });
        </script>

    <div>{label content /}</div>
        <div class="input">{input content, style=> "width: 600px; height: 200px"}</div>
    </div>
    <div class="pair">
        <div class="input">{input send}</div>
    </div>
{/form}
