<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>sEGGfault {include title} | FIT++</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">

    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .left {
            width: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            background: #0079c2;
            position: fixed;
        }

        .right {
            width: 50%;
            right: 0;
            top: 0;
            bottom: 0;
            background: #f0ab00;
            position: fixed;
        }

        .holder {
            color: #191919;
            display: block;
            text-align: center;
            position: fixed;
            margin: 15px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: white;
            overflow: auto;
        }

        .content {
            max-width: 1000px;
            width: 70%;
            margin: 30px auto;
        }

        .content h1,
        .content p {
            margin: 30px 0;
        }

        .content h1 {
            font-size: 50px;
            line-height: 1.25em;
        }

        .content p {
            color: inherit;
            font-size: 30px;
            text-decoration: none;
            outline: none;
            color: #474747;
        }

        .content code {
            word-break:break-all;
        }

        .content p i {
            color: #000;
        }

        .content a {
            color: #0079c2;
            text-decoration: none;
        }

        .content a:hover {
            text-decoration: underline;
        }

        .content ul,
        .content ol {
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
        }

        .content li {
            margin-bottom: 15px;
        }

        .code {
            user-select: all;
            text-align: left;
            display: block;
        }
    </style>


</head>
<body>

<div class="left"></div>
<div class="right"></div>

<div class="holder">
    <div class="content">
        {include content}
    </div>
</div>
</body>
</html>