{block title}{/block}
{block content}
    <h1>sEGGfault</h1>
    <p><a href="https://www.facebook.com/events/655033241358250/" target="_blank">Facebook událost</a></p>
    <p>Oficiální hashtag <a href="https://twitter.com/hashtag/fitseggfault" target="_blank">#fitseggfault</a></p>
    <p>Přijď si s námi zahrát egg hunt – hru založenou na lovení částí kódu, který ti vypíše tajemnou formuli, a
        klíče pro jeho spuštění. Na speciálních místech, které nazýváme eggstop, nalezneš QR kód odkazující na
        webovou stránku, kde vždy najdeš tématickou hádanku (která tě zavede na další eggstop), část kódu a kvíz (ze
        kterého si zapamatuj písmenko tvé odpovědi, jinak kód nespustíš).</p>
    <p>Cílem není nejrychleji najít všechny eggstopy nebo nám bleskurychle napsat odpověď. Ze všech správných
        výsledků se totiž bude výherce losovat – a tak máš šanci právě i Ty! Start je v přízemí Nové budovy.</p>
    <p>A o co že se hraje? Hlavní cenou je fakultní triko! Ostatní místa dostanou alespoň cenu útěchy, která se jim
        určitě při studiu bude hodit.</p>
    <p><strong>Pravidla:</strong><br/>Abys byl kvalifikován do soutěže, musíš dát do 18:30 (18. 4. 2017) „To se mi líbí“ na Facebook page
        <a href="https://www.facebook.com/klubFITpp" target="_blank">FITplusplus</a> a následně do zpráv poslat zprávu s kódem, který zjistíš na konci egg huntu.</p>
{/block}

