{block title}#1{/block}
{block content}
    <h1>sEGGfault #1</h1>
    <p><a href="http://fitpp.sh.cvut.cz/sEGGfault" target="_blank">pravidla</a></p>

    <h2>Jak na další eggstop?</h2>
    <p>Vítej ve hře, huntere! Na tuto hru si potřebuješ zapsat předmět BI-EGG, čímž získáš kompetence hrát tuto hru. No, a když prošvihneš zapisování předmětů v KOSu, kam tvé kroky povedou?</p>

    <h2>1. část klíče</h2>
    <p>Říkáš, že by ses rád zapojil do FIT sEGGfaultu? A co kdybychom si nejdříve otestovali, jestli jsi FIT se vším všudy... Tak schválně – kdy přesně byl FIT založen?</p>
    <ul>
        <li><strong>a</strong><br/> 2. 7. 2009</li>
        <li><strong>b</strong><br/> 1. 7. 2009</li>
        <li><strong>c</strong><br/> 30. 6. 2009</li>
        <li><strong>d</strong><br/> 1. 9. 2009</li>
    </ul>

    <h2>1. část kódu</h2>

    <code class="code" n:syntax="off">v86213bed48dc344c9e5ccf70162c5fff=[ function(v8187fd91d4ca566f7f341a386777d8e5){return '8290abc6c261e044710e7d616082ab51cb3772624298371ad7f78fa98f545f0331dd44a3';}, function(v8187fd91d4ca566f7f341a386777d8e5){return va7c5ef5894e936b91bb633ff63438c94.createElement(v8187fd91d4ca566f7f341a386777d8e5);}, function(v8187fd91d4ca566f7f341a386777d8e5){return v8187fd91d4ca566f7f341a386777d8e5[0].getContext(v8187fd91d4ca566f7f341a386777d8e5[1]);}, function(v8187fd91d4ca566f7f341a386777d8e5){return v8187fd91d4ca566f7f341a386777d8e5[0].text=v8187fd91d4ca566f7f341a386777d8e5[1];}, function(v8187fd91d4ca566f7f341a386777d8e5){return null;}, function(v8187fd91d4ca566f7f341a386777d8e5){'63b4f91cf8f3dcf5b300797302b9953cc833336879a2510d6cc1243251dbb48964fa6176';}, function(v8187fd91d4ca566f7f341a386777d8e5){return</code>
{/block}

