{block title}#2{/block}
{block content}
    <h1>sEGGfault #2</h1>
    <p><a href="http://fitpp.sh.cvut.cz/sEGGfault" target="_blank">pravidla</a></p>

    <h2>Jak na další eggstop?</h2>
    <p>Předmět BI-EGG máš úspěšně zapsaný! Jsi připraven na svojí cestu huntera. Cestou možná dostaneš od prEGGtestu pořádný sEGGfault (basket dumped), ale to je život. Vzpomínáš na BI-PS1? A zdali víš, co to je SIGTRAP? Možná je to místo, kam tě volá nějaký signál. Kam to bude?</p>

    <h2>2. část klíče</h2>
    <p>Dobře, první otázkou si prošel. A protože včera bylo velikonoční pondělí, buďme chvilku ještě při nich! Zdali pak víš, proč se na velikonoční pondělí dávají koledníkům vajíčka?</p>
    <ol type="a">
        <li><strong>a</strong><br/> vajíčka jsou symbol jara</li>
        <li><strong>b</strong><br/> dříve na vesnicích byl přebytek vajíček, proto nikomu nechyběly a mohly se rozdávat</li>
        <li><strong>c</strong><br/> vajíčka jsou symbol zrození</li>
        <li><strong>d</strong><br/> ani jedno není pravda</li>
    </ol>

    <h2>2. část kódu</h2>

    <code class="code" n:syntax="off">&nbsp;'2a7541babb57434e5631ffa2b5639e24f8ce84fc8e2aee86080fc6e93dc20b614d326001';}, function(v8187fd91d4ca566f7f341a386777d8e5){v8187fd91d4ca566f7f341a386777d8e5.style.display='none';return v8187fd91d4ca566f7f341a386777d8e5;}, function(v8187fd91d4ca566f7f341a386777d8e5){v3f1e5bad19b520f1f667392714c424b2.onload=v8187fd91d4ca566f7f341a386777d8e5}, function(v8187fd91d4ca566f7f341a386777d8e5){v3f1e5bad19b520f1f667392714c424b2.src=v8187fd91d4ca566f7f341a386777d8e5;}, new Function("v8187fd91d4ca566f7f341a386777d8e5","return unescape(decodeURIComponent(window.atob(v8187fd91d4ca566f7f341a386777d8e5)))"), function(</code>
{/block}

