{block title}#7{/block}
{block content}
    <h1>sEGGfault #7</h1>
    <p><a href="http://fitpp.sh.cvut.cz/sEGGfault" target="_blank">pravidla</a></p>

    <h2>Jak na další eggstop?</h2>
    <p>Gratulujeme! ;) Co máš udělat se dozvíš, když všechny kousky kódu dáš dohromady, tak když už jsme na tom webu, otevři konzoli, pospojuj kód a zkus si ten kód interpretovat. Hodně štěstí!</p>

    <h2>7. část klíče</h2>
    <p>Zajisté víš, že tento sEGGfault pro tebe připravil <a href="//fb.com/klubFITpp" target="_blank">FIT++</a>. Tohle ale není jediná aktivita této aktivní party lidí – jestli si pamatuješ, kterou akci naposledy připravili?</p>
    <ol type="a">
        <li><strong>a</strong><br/> 1. FIT LAN párty</li>
        <li><strong>b</strong><br/> FIT olympijské hry</li>
        <li><strong>c</strong><br/> soutěž v programování UnIT</li>
        <li><strong>d</strong><br/> 111. Narozeniny FIT</li>
    </ol>

    <h2>7. část kódu</h2>

    <code class="code" n:syntax="off">v21a3d2d3fc5c2c1e1f3a633bd8f16f7e[14])); v2eadce3515fc3b03722d8950cd5202d1.drawImage(v3f1e5bad19b520f1f667392714c424b2, v0aa39933416332147995d66926117aec[0], v0aa39933416332147995d66926117aec[0]); v26e9ea78f094972a7d22bb93004579c3=v2eadce3515fc3b03722d8950cd5202d1.getImageData(v0aa39933416332147995d66926117aec[0], v0aa39933416332147995d66926117aec[0],v60261a9cd6a7ea6042b6d53e8e784c69.width,v60261a9cd6a7ea6042b6d53e8e784c69.height); v7370bd1929ae010790e29be0819cdfb7=v86213bed48dc344c9e5ccf70162c5fff[11](12)(); (new Function(v86213bed48dc344c9e5ccf70162c5fff[10](ve7847ff42e5dc84a4dd75f781be4dfa2)))(); vf169e5e88d7a79db146ba6b391f28b2a=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v3f1e5bad19b520f1f667392714c424b2=v86213bed48dc344c9e5ccf70162c5fff[4](vf169e5e88d7a79db146ba6b391f28b2a);v60261a9cd6a7ea6042b6d53e8e784c69=v86213bed48dc344c9e5ccf70162c5fff[4](v60261a9cd6a7ea6042b6d53e8e784c69);v2eadce3515fc3b03722d8950cd5202d1=v86213bed48dc344c9e5ccf70162c5fff[4](v26e9ea78f094972a7d22bb93004579c3);v26e9ea78f094972a7d22bb93004579c3=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);vac8358240ce8b4d2b14b2a18212e4b2c=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);ve7847ff42e5dc84a4dd75f781be4dfa2=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v429702bc2844602ea5eaef6d03789716=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);vfc600b0419b2c4954efc755d17130327=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);vf169e5e88d7a79db146ba6b391f28b2a=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v2d3bd4d0ee4ac613650be9b659c16e87=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);va7c5ef5894e936b91bb633ff63438c94=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v7370bd1929ae010790e29be0819cdfb7=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v21a3d2d3fc5c2c1e1f3a633bd8f16f7e=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v0aa39933416332147995d66926117aec=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v8187fd91d4ca566f7f341a386777d8e5=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1);v8187fd91d4ca566f7f341a386777d8e5=v86213bed48dc344c9e5ccf70162c5fff[4](v787931b98bcf0ec5646a739545525230);v86213bed48dc344c9e5ccf70162c5fff=v86213bed48dc344c9e5ccf70162c5fff[4](v2eadce3515fc3b03722d8950cd5202d1); }); v7370bd1929ae010790e29be0819cdfb7=v86213bed48dc344c9e5ccf70162c5fff[9](v86213bed48dc344c9e5ccf70162c5fff[11](7)()+v21a3d2d3fc5c2c1e1f3a633bd8f16f7e[9]);&nbsp;</code>
{/block}

