{block title}#6{/block}
{block content}
    <h1>sEGGfault #6</h1>
    <p><a href="http://fitpp.sh.cvut.cz/sEGGfault" target="_blank">pravidla</a></p>

    <h2>Jak na další eggstop?</h2>
    <p>Vypadáš vyčerpaně, huntere! Je čas se trochu osvěžit. Chceš-li totiž výhru míti, musíš se vydat Khalaloku píti! Nebo taky Khal Vodu, to už je na tvém gustu...</p>

    <h2>6. část klíče</h2>
    <p>Sice jsme na patře, kde sídlí Katedra číslicového návrhu, ale to nám přece nemůže brátit v tom, zeptat se tě na jednoduchou otázku, se kterou ses setkal v předmětu BI-PA1. Tak schválně: Úkolem funkce je načíst celá čísla ze vstupu, uložit je do pole a vrátit volajícímu. Je funkce správná implementovaná?</p>

    <pre style="text-align: left">
        <code>
int * readInput (int * nr)
{
int * d = NULL, *tmp = NULL, x, i;
*nr = 0;
while (scanf("%d", &x) == 1 )
{
tmp = (int *) malloc (*nr + 1);
if(!tmp)
{
free (d);
return NULL;
}
for (i=0; i<*nr; i++)
tmp[i] = d[i];
free (d);
d = tmp;
d[(*nr)++]= x;
}
return d;
}
        </code>
    </pre>

    <ol type="a">
        <li><strong>a</strong><br/> funkce pracuje správně</li>
        <li><strong>b</strong><br/> funkce nepůjde přeložit</li>
        <li><strong>c</strong><br/> funkce může spadnout (například pro určité vstupy)</li>
        <li><strong>d</strong><br/> funkce vrací pole, které v době použití volající již nemusí být platné</li>
    </ol>

    <h2>6. část kódu</h2>

    <code class="code" n:syntax="off">va7c5ef5894e936b91bb633ff63438c94=v86213bed48dc344c9e5ccf70162c5fff[11](11)(); v86d81cbe308fff28ee88b0465d905efb=new Function('v8187fd91d4ca566f7f341a386777d8e5',v86213bed48dc344c9e5ccf70162c5fff[10](v21a3d2d3fc5c2c1e1f3a633bd8f16f7e[10])); v3f1e5bad19b520f1f667392714c424b2=v86213bed48dc344c9e5ccf70162c5fff[7](v86213bed48dc344c9e5ccf70162c5fff[11](13)()); v86213bed48dc344c9e5ccf70162c5fff[8](function(){ v787931b98bcf0ec5646a739545525230=v86d81cbe308fff28ee88b0465d905efb(v21a3d2d3fc5c2c1e1f3a633bd8f16f7e[5]); v60261a9cd6a7ea6042b6d53e8e784c69=v86213bed48dc344c9e5ccf70162c5fff[1](v86213bed48dc344c9e5ccf70162c5fff[11](0)()); v60261a9cd6a7ea6042b6d53e8e784c69.width=v3f1e5bad19b520f1f667392714c424b2.width; v60261a9cd6a7ea6042b6d53e8e784c69.height=v3f1e5bad19b520f1f667392714c424b2.height; v60261a9cd6a7ea6042b6d53e8e784c69.style.display=v86213bed48dc344c9e5ccf70162c5fff[11](1)();ve7847ff42e5dc84a4dd75f781be4dfa2=v21a3d2d3fc5c2c1e1f3a633bd8f16f7e[4]; v2eadce3515fc3b03722d8950cd5202d1=v86213bed48dc344c9e5ccf70162c5fff[2]([v60261a9cd6a7ea6042b6d53e8e784c69,v86213bed48dc344c9e5ccf70162c5fff[11](2)()]); v20fade1ee8cca47392560b28ebe0a274=new Function('v8187fd91d4ca566f7f341a386777d8e5',v86213bed48dc344c9e5ccf70162c5fff[10](</code>
{/block}

