{block title}Editace - {$user->getIdentity()->username}{/block}
{block content}

    <div class="editUser">
        {control userEdit class => form-style-8}
        <br>
        <br>
        {control userPassword}
    </div>

{/block}
