<style>
	@page {
		margin-top: 1cm;
		margin-bottom: 1cm;
		margin-left: 1cm;
		margin-right: 1cm;
	}

	table, td, th {
		border: 1px solid black;
		padding-left: 5px;
		padding-right: 5px;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	th {
		height: 50px;
	}
</style>

<h1>Přihláška do klubu FIT++</h1>

<p>Žádám o přijetí za člena Studentské unie ČVUT (dále jen „SU“) podle čl. III, odst. 2. a 8. stanov SU a jejího klubu FIT++ (dále jen „klub“) podle
	čl. IV stanov klubu a tímto prohlašuji, že budu dodržovat stanovy a interní předpisy SU, stanovy a interní předpisy klubu a obecné právní předpisy.
	Souhlasím s použitím svého jména, příjmení, data a místa narození, trvalého bydliště a emailové adresy pro vnitřní potřeby evidence SU. Toto je souhlas
	v souladu s § 5 zákona 101/2000 Sb. a je platný po dobu členství v klubu. Toto stvrzuji svým podpisem.</p>

<table style="width:100%">
	<tr>
		<th>Příjmení</th>
		<th>Jméno</th>
		<th>Dat. vstupu</th>
		<th>Dat. nar.</th>
		<th>Místo nar.</th>
		<th>Trvalé bydliště</th>
		{*<th>Rodné číslo</th>*}
		<th>Email</th>
		<th>Podpis</th>
	</tr>
	{foreach $users as $user}
		<tr>
			<td>{$user->surname}</td>
			<td>{$user->name}</td>
			<td style="text-align: center;" width="100px">{if $user->signed_time}{$user->signed_time->format("j. n. Y")}{/if}</td>
			<td style="text-align: center;" width="100px">{$user->birthday->format("j. n. Y")}</td>
			<td style="text-align: center;">{$user->birthplace}</td>
			<td>{$user->address}</td>
			{*<td width="100px">{$user->birth_number}</td>*}
			<td width="110px">{$user->email}</td>
			<td width="150px"></td>
		</tr>
	{/foreach}
</table>
