{var $robots = noindex}

{block title}Přihlášení{/block}

{block #content}
{form signInForm}
	<ul class=error n:if="$form->errors">
		<li class="alert alert-danger" n:foreach="$form->errors as $error">{$error}</li>
	</ul>

	<table>
		<tr n:class="required">
			<th>{label username}</th>
			<td>{input username}</td>
		</tr>
		<tr n:class="required">
			<th>{label password}</th>
			<td>{input password}</td>
		</tr>
		<tr>
			<td>{input remember} {label remember}</td>
		</tr>
		<tr>
			<th>{label send/}
			<td>{input send}{input forgot}
			</td>
		</tr>

	</table>
{/form}
