{var $robots = noindex}
{block header}{/block}
{block menu}{/block}
{block toggle}{/block}
{block #content}

<h1 n:block=title>Stránka nenalezena</h1>

<p>A jéje, tady zase někdo něco zvojtil. Zkus to, prosím, za moment znovu.
Pokud problém přetrvává, kontaktuj admina na TomasNovacek@seznam.cz</p>

<p><small>error 404</small></p>
