{var $robots = noindex}
{block header}{/block}
{block menu}{/block}
{block toggle}{/block}
{block #content}

<h1 n:block=title>Nepovolená metoda</h1>

<p>Požadovaná metoda není povolena pro toto url.</p>

<p><small>error 405</small></p>
