{var $robots = noindex}
{block header}{/block}
{block menu}{/block}
{block toggle}{/block}
{block #content}

<h1 n:block=title>Stránka nenalezena</h1>

<p>Požadovaná stránka byla smazána. Omlouváme se za komplikace.</p>

<p><small>error 410</small></p>
