{var $robots = noindex}
{block header}{/block}
{block menu}{/block}
{block toggle}{/block}
{block #content}

<h1 n:block=title>Ou šit...</h1>

<p>Prohlížeč poslal tak krutopřísnej příkaz, že to naše appka nezvládla...</p>
