{layout none}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<style>
	body { color: #333; background: white; width: 500px; margin: 100px auto }
	h1 { font: bold 47px/1.5 sans-serif; margin: .6em 0 }
	p { font: 21px/1.5 Georgia,serif; margin: 1.5em 0 }
	small { font-size: 70%; color: gray }
</style>

<h1>Server Error</h1>

<p>A sakra. Tady někdo něco zvojtil. Opakuj, prosím, požadavek za chvíli znovu. 
Pokud problém přetrvává, kontaktuj admina na TomasNovacek@seznam.cz</p>

<p><small>error 500</small></p>
