Ahoj,
<br>
na tvoji žádost ti bylo vygenerováno nové heslo:
<br><br><strong>{$password}</strong><br><br>

Po přihlášení si heslo ihned změň!

Sorry, víme, že tohle je fakt nebezpečný způsob změny hesla a aplikace předěláváme,
kdyby si s tím chtěl náhodou pomoci, budeme moc rádi a napiš na slacku @hosnamic.

<br><br>
Aplikace FIT++
