<p>
    Ahoj,
    <br><br>
    díky za registraci! Právě ti byl udělen přístup do aplikace na <a href='http://fitpp.sh.cvut.cz/'><b>našich stránkách</b></a> s username <b>{$username}</b>.
    <br><br>
    Pokud bys měl jakékoliv potíže s přihlášením, kontaktuj nás na fitpp@su.cvut.cz
    <br><br>
    Za nějakou dobu tě osloví někdo z vedení FIT++, abys mohl podepsat vstup do studentského spolku (a vše bylo podle stanov).
    <br><br>
    Tak doufám, že se brzo uvidíme na nějaké akci!
    <br><br>

    FIT++
</p>
