{block content}

<title>Hlavní stránka</title>

	<div class="container">

	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<li style="background-image: url(images/bg.jpg);">
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
							<div class="slider-text-inner">
								<h2>Pomoz nám udělat FIT lepší!</h2>
								<p><a href="{plink User:registration}" class="btn btn-primary btn-lg">Chci pomoct!</a></p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>
	<section id="scrollDown" class="demo">
		<a id="scrollDownLink" href="#fh5co-services-section">
			<span></a>
	</section>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Co je FIT++?</h2>
					<p>Jsme studenti FITu, co mají svoji fakultu rádi a chtějí ji udělat ještě lepší. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-calendar"></i>
						<div class="desc">
							<h3>Organizace akcí</h3>
							<p>Chtěl jsi uspořádat nějakou akci, ale potřeboval bys pomoct?
								Nebo bys chtěl pomáhat při akcích jako je DOD či Noc vědců? Pak je FIT++ přesně pro tebe!</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-group"></i>
						<div class="desc">
							<h3>Společné chvíle</h3>
							<p>Nebo chceš pouze na chvíli odsednout od programování a strávit pěkné chvíle s ostatními FIŤáky?
							Příležitostí ve FIT++ je plno!</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-lightbulb"></i>
						<div class="desc">
							<h3>Lidi s nápady</h3>
							<p>Dobrých lidí s dobrými nápady je vždycky málo, a tak jsme se rozhodli, že by bylo super vás sdružovat.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-work-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Napiš nám</h2>
					<a href="mailto:fitpp@su.cvut.cz" style="color: #000;font-size: 30px;font-weight:  100;">fitpp@su.cvut.cz</a>
				</div>
			</div>
		</div>
	</div>
	{*<div id="fh5co-pricing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Nejbližší akce</h2>
					<p>Na jaké nejbližší akce se můžeš těšit? </p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-3 animate-box fadeInUp animated">
						<div class="price-box">
							<h2 class="pricing-plan">Narozeniny FITu</h2>
							<div class="price">27. 10.</div>
							<p>Jako každý rok plánujeme oslavit narozeniny FITu. </p>
							<a href="#" class="btn btn-select-plan btn-sm">Chci pomoct!</a>
						</div>
					</div>
					<div class="col-md-3 animate-box fadeInUp animated">
						<div class="price-box">
							<h2 class="pricing-plan">Basic</h2>
							<div class="price"></div>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>*}
