{block content}

<title>Ke stažení</title>

<div id="fh5co-services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Volby do Představenstva FIT++ na volební období únor 2019–leden 2020</h2>
				<p>FIT++ vyhlašuje volby do představenstva.</p>
                <a href="{$basePath}/documents/volby2019/volby-do-Predstavenstva-2019-2020.pdf" style="color: black;" target="_blank" class="btn btn-primary">Informace k volbám</a></p>
                <a href="{$basePath}/documents/volby2019/volby-do-Predstavenstva-2019-2020_terminy.pdf" style="color: black;" target="_blank" class="btn btn-primary">Termíny voleb a volební místnosti</a></p>
                <a href="{$basePath}/documents/volby2019/volby-do-Predstavenstva-2019-2020_kandidatky.pdf" style="color: black;" target="_blank" class="btn btn-primary">Kandidátky</a></p>
                <a href="{$basePath}/documents/volby2019/volby-do-Predstavenstva-2019-2020_vysledky.pdf" style="color: black;" target="_blank" class="btn btn-primary">Výsledky voleb</a></p>
			</div>
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Ke stažení</h2>

				<p>Informace o FIT++ (stanovy atd.) </p>
				<p><a href="{$basePath}/documents/stanovy.pdf" style="color: black;" target="_blank" class="btn btn-primary">Stanovy </a></p>
				<p><a href="{$basePath}/documents/jednaci_rad.pdf" style="color: black;" target="_blank" class="btn btn-primary">Jednací řád</a></p>
				<p><a href="{$basePath}/documents/volebni_rad-2018.pdf" style="color: black;" target="_blank" class="btn btn-primary">Volební řád FIT++</a></p>

				<p>Zápisy ze schůzí</p>
				<p><a href="{$basePath}/documents/zapis/161220.pdf" style="color: black;" target="_blank" class="btn btn-primary">20. 12. 2016</a></p>
				<p><a href="{$basePath}/documents/zapis/170208.pdf" style="color: black;" target="_blank" class="btn btn-primary">8. 2. 2017</a></p>
				<p><a href="{$basePath}/documents/zapis/170322.pdf" style="color: black;" target="_blank" class="btn btn-primary">22. 3. 2017</a></p>
				<p><a href="{$basePath}/documents/zapis/171012.pdf" style="color: black;" target="_blank" class="btn btn-primary">12. 10. 2017</a></p>
				<p><a href="{$basePath}/documents/zapis/171213.pdf" style="color: black;" target="_blank" class="btn btn-primary">13. 12. 2017</a></p>
				<p><a href="{$basePath}/documents/zapis/180205.pdf" style="color: black;" target="_blank" class="btn btn-primary">5. 2. 2018</a></p>
				<p><a href="{$basePath}/documents/zapis/180214.pdf" style="color: black;" target="_blank" class="btn btn-primary">14. 2. 2018</a></p>
				<p><a href="{$basePath}/documents/zapis/180409.pdf" style="color: black;" target="_blank" class="btn btn-primary">9. 4. 2018</a></p>
				<p><a href="{$basePath}/documents/zapis/181004.pdf" style="color: black;" target="_blank" class="btn btn-primary">4. 10. 2018</a></p>
				<p><a href="{$basePath}/documents/zapis/181219.pdf" style="color: black;" target="_blank" class="btn btn-primary">19. 12. 2018</a></p>
				<p><a href="{$basePath}/documents/zapis/190205.pdf" style="color: black;" target="_blank" class="btn btn-primary">5. 2. 2019</a></p>
				<p><a href="{$basePath}/documents/zapis/190227-Neschvaleno.pdf" style="color: black;" target="_blank" class="btn btn-primary">27. 2. 2019 (Neschváleno)</a></p>
			</div>
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Volby do představenstva na volebni obdobi 2018/19</h2>
				<p>FIT++ vyhlašuje volby do představenstva.</p>
				<p><a href="{$basePath}/documents/volby.pdf" style="color: black;" target="_blank" class="btn btn-primary">Informace k volbám</a></p>
				<p><a href="{$basePath}/documents/kandidatky.pdf" style="color: black;" target="_blank" class="btn btn-primary">Kandidátky</a></p>
				<p><a href="{$basePath}/documents/vysledky.pdf" style="color: black;" target="_blank" class="btn btn-primary">Výsledky voleb</a></p>
			</div>
		</div>
	</div>
</div>
