<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}FIT++</title>
	<link rel="shortcut icon" href="{$basePath}/favicon1.ico">

	{*jQuery*}
	<script type='text/javascript' src="{$basePath}/js/jquery.js"></script>
	<script type='text/javascript' src="{$basePath}/js/jquery-ui.min.js"></script>



	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FIT++</title>
    <link rel="icon" type="image/png" href="/images/fitpp-favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/fitpp-favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/fitpp-favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/fitpp-favicon-255.png" sizes="96x96">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FIT++" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{$basePath}/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{$basePath}/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{$basePath}/css/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{$basePath}/css/owl.carousel.min.css">
	<link rel="stylesheet" href="{$basePath}/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<!-- Modernizr JS -->
	<script src="{$basePath}/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{$basePath}/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1 style="margin: 0;line-height: 80px;"><a href="{plink Homepage:default}"><img height="45px" src="images/logo.png"></a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="{plink info}">Dokumenty FIT++</a></li>
						{if $user->isLoggedIn()}
							<li>{$user->getIdentity()->name} {$user->getIdentity()->surname}</li>
							{if $user->isInRole("admin") || $user->isInRole("registrator")}
								<li><a href="{plink User:default}">Administrace</a></li>
							{/if}
							<li><a n:href="User:edit">Editace účtu</a></li>
							<li class="cta"><a n:href="signOut!">Odhlásit se</a></li>
						{else}
							<li><a href="{plink User:registration}">Registrace</a></li>
							<li class="cta"><a href="{plink Sign:in}">Přihlášení</a></li>
						{/if}
					</ul>
				</nav>
			</div>
		</div>
	</header>


	<div id="fh5co-page">
		{include content}

		<footer id="fh5co-footer" role="contentinfo">

			<div class="container">
				<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>O nás</h3>
					<p>Jsme studenti FITu, co mají svoji fakultu rádi a chtějí ji udělat ještě lepší.</p>
					<p><a href="mailto:fitpp@su.cvut.cz" class="btn btn-primary btn-outline with-arrow btn-sm">Napiš nám! <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>Další zajímavé skupiny</h3>
					<ul class="float">
						<li><a href="http://www.su.cvut.cz/">Studentská unie ČVUT</a></li>
						<li><a href="http://casopis.fit.cvut.cz">Buď FIT</a></li>
						<li><a href="http://seznamovak.fit.cvut.cz">Seznamovák FIT</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<h3>Přidej se k nám!</h3>
					<ul class="fh5co-social">
						<li><a href="https://twitter.com/klubFITpp"><i class="icon-twitter"></i> klubFITpp</a></li>
						<li><a href="https://facebook.com/klubFITpp"><i class="icon-facebook"></i> klubFITpp</a></li>
						{*<li><a href="#"><i class="icon-google-plus"></i></a></li>*}
						<li><a href="https://instagram.com/klubFITpp"><i class="icon-instagram"></i> klubFITpp
							</a></li>
					</ul>
					<p><a href="{plink info}" class="btn btn-primary btn-outline with-arrow btn-sm">Dokumenty FIT++<i class="icon-arrow-right"></i></a></p>
				</div>


				<div class="col-md-12 fh5co-copyright text-center">
					<p>&copy; FIT++. Všechna práva vyhrazena. <span>Design frontendu je z
							<a href="https://freehtml5.co/preview/?item=flew-free-html5-bootstrap-template" target="_blank">FreeHTML5.co</a></span></p>
				</div>

			</div>
		</footer>
	</div>


	<!-- jQuery -->
	<script src="{$basePath}/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{$basePath}/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{$basePath}/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="{$basePath}/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="{$basePath}/js/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="{$basePath}/js/main.js"></script>

	{block scripts}
	{/block}
</body>
</html>
