<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	{var gridoAssetsPath = $baseUri}


	<title>{ifset title}{include title|stripHtml} | {/ifset}FIT++</title>
	{*jQuery*}
	<script src="{$basePath}/backend/js/jquery.min.js"></script>
	<script type='text/javascript' src="{$basePath}/js/jquery-ui.min.js"></script>

	{*Nette things*}
	<script type="text/javascript" src="{$basePath}/js/ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/live-form-validation.js"></script>


	<link rel="stylesheet" type="text/css" href="{$basePath}/css/backendStyle.css">
	<script src="{$basePath}/js/moment.js"></script>


	{*Grido*}
	<script src="{$basePath}/js/grido/grido.js"></script>
	<script src="{$basePath}/js/grido/typeahead.js"></script>
	<script src="{$basePath}/js/grido/daterangepicker.js"></script>
	<script src="{$basePath}/js/grido/plugins/grido.datepicker.js"></script>
	<script src="{$basePath}/js/grido/plugins/grido.typeahead.js"></script>
	<script src="{$basePath}/js/grido/plugins/grido.history.js"></script>
	<script src="{$basePath}/js/grido/plugins/grido.nette.ajax.js"></script>
	<script src="{$basePath}/js/grido/plugins/grido.datepicker.cs.js"></script>

	<script src="{$basePath}/js/mainBackend.js"></script>




	{*Voda Datepicker*}
	<script type='text/javascript' src="{$basePath}/js/jquery-ui-timepicker-addon.js"></script>
	<script type='text/javascript' src="{$basePath}/js/dateInput.js"></script>
	<script type='text/javascript' src="{$basePath}/js/datePicker.js"></script>
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/dateInput.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery-ui-timepicker-addon.css">


	<link rel="stylesheet" type="text/css" href="{$basePath}/css/form.css">
	<link rel="stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
	      type='text/css'>

	<link rel="stylesheet" href="{$basePath}/backend/css/grido.css">
	<link rel="stylesheet" href="{$basePath}/css/form.css">
	<link rel="icon" type="image/png" href="/images/fitpp-favicon-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/images/fitpp-favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/fitpp-favicon-96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/images/fitpp-favicon-255.png" sizes="96x96">


	<!-- Bootstrap Core CSS -->
	<link href="{$basePath}/backend/css/bootstrap.min.css" rel="stylesheet">

	<!-- MetisMenu CSS -->
	<link href="{$basePath}/backend/css/metisMenu.min.css" rel="stylesheet">

	<!-- Timeline CSS -->
	<link href="{$basePath}/backend/css/timeline.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{$basePath}/backend/css/startmin.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="{$basePath}/backend/css/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="{$basePath}/backend/css/font-awesome.css" rel="stylesheet" type="text/css">

</head>

<body>


<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{plink Homepage:default}">FIT++</a>
		</div>

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		{if $user->isLoggedIn()}
			<!-- Top Navigation: Left Menu -->
			{if $user->isInRole("admin") || $user->isInRole("registrator")}
				<ul class="nav navbar-nav navbar-left navbar-top-links">
					<li><a href="{plink User:default}"><i class="fa fa-home fa-fw"></i> Hlavní stránka</a></li>
				</ul>
			{/if}

			<!-- Top Navigation: Right Menu -->
			<ul class="nav navbar-right navbar-top-links">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i> {$user->getIdentity()->username} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="{plink User:edit}"><i class="fa fa-user fa-fw"></i> Správa účtu</a>
						</li>
						<li class="divider"></li>
						<li><a href="{link signOut!}"><i class="fa fa-sign-out fa-fw"></i> Odhlásit</a>
						</li>
					</ul>
				</li>
			</ul>
			{if $user->isInRole("admin") || $user->isInRole("registrator")}
				<!-- Sidebar -->
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">

						<ul class="nav" id="side-menu">
							{*<li>
								<a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
							</li>*}
							<li>
								<a href="{plink User:default}"><i class="fa fa-sitemap fa-fw"></i> Uživatelé {if $newRegistrationCount}<span class="newItemsCount">{$newRegistrationCount}</span>{/if}</a>
							</li>
						</ul>

					</div>
				</div>
			{/if}
		{/if}
	</nav>

	<!-- Page Content -->
	<div id="page-wrapper">
		<div class="container-fluid">
			{snippet messages}
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message|noescape}</div>
			{/snippet}

			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">{block title}{/block}</h1>
				</div>
			</div>

			{include content}

		</div>
	</div>

</div>


<!-- Bootstrap Core JavaScript -->
<script src="{$basePath}/backend/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{$basePath}/backend/js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{$basePath}/backend/js/startmin.js"></script>


{block scripts}
{/block}
</body>
</html>
