.tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 160px;
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor {
	text-decoration: none;
	outline: 0;
	background-color: #f5f5f5;
	color: #262626;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
	color: #262626;
}

.tt-dropdown-menu .tt-suggestion p {
	margin: 0;
}
